
h1 {
    text-align: center;
}

.panel {
    vertical-align: top;
    height: auto;
    box-sizing: border-box;
    margin: -1px;
    margin-bottom: 6px;
    padding: 2px;
}

.one-column > .panel {
    width: 100%;
    display: block;
}

.two-column > .panel {
    width: 50%;
    display: inline-block;
}

.code {
    width: 100%;
    overflow-y: hidden;
    white-space: pre;
    box-sizing: border-box;
    padding: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    font-family: Consolas, Courier New, monospace;
    font-size: 16px;
}

textarea.code {
    overflow-x: hidden;
    min-height: 0px;
    resize: none;
}

div.code {
    overflow-x: auto;
}

div.bracket-contents {
    display: inline;
}

.primary-highlight, span:hover {
    background-color: #ccc;
}

.secondary-highlight {
    background-color: #eee;
}

.builtin {
    color: #56f;
    font-weight: bold;
}

.alias {
    color: #23c;
    font-weight: bold;
}

.lib-fn {
    color: #806;
    font-weight: bold;
}

.name {
    color: #000;
    font-weight: bold;
}

.number {
    color: #f90;
}

.implied {
    color: #999;
}

.unmatched-bracket, .unmatched-bracket:hover {
    color: #fec;
    background-color: #d22;
    font-weight: bold;
}
